{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class=" page-width blog-wrapper">
{%- paginate blog.articles by section.settings.blog_post_range -%}
  <div class="main-blog section-{{ section.id }}-padding">
    <h1 class="title--primary">{{ blog.title | escape }}</h1>

    <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card',
            article: article,
            media_height: section.settings.image_height,
            media_aspect_ratio: article.image.aspect_ratio,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: true 
          -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}



<div class="aside">
  <div class="aside-wrapper">
    {% if section.settings.category_enable %}
      <div class="explore-categories-wrapper">
      {% if section.settings.categary_title !=blank %}
        <h2 class="title">{{ section.settings.categary_title }}</h2>
      {% endif %} 

      {%- for custom_article in blog.articles -%}

      {% for custom_tag in custom_article.tags %}
        
       <div class="explore-categories">
          <a href="{{ custom_article.url }}">
            <h4>{{ custom_article.title }}</h4>
          </a>
        </div>
        {% endfor %}
      {% endfor %}
          
      {% comment %}
      <div class="explore-categories">
        <a href="javascript:;">
            <h4>Fragrences</h4>
        </a>
      </div>
      <div class="explore-categories">
        <a href="javascript:;">
            <h4>What's Hot</h4>
        </a>
      </div>
      {% endcomment %}
    </div>
    {% endif %}  
    <div class="popular-posts-wrapper">
      {% if section.settings.popular_post !=blank %}
        <h2 class="title">{{ section.settings.popular_post }}</h2>
      {% endif %}
      {%- for article in section.settings.blog.articles limit: 3 -%}  
        {% render 'popular_posts', article: article %}  
      {% endfor %}  
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header_1.content"
    },
    {
      "type": "text",
      "id": "categary_title",
      "label": "t:sections.main-blog.settings.categary_title.label"
    },
    {
      "type": "checkbox",
      "id": "category_enable",
      "default": true,
      "label": "Category Enable"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header_2.content"
    },
    {
      "type": "text",
      "id": "popular_post",
      "label": "t:sections.main-blog.settings.popular_post.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.main-blog.settings.popular_post.label"
    },
    {
      "type": "range",
      "id": "blog_post_range",
      "min": 4,
      "max": 20,
      "step": 1,
      "label": "Blog Per Rows",
      "default": 6
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
